
@import "../lib/colors";

.BuildView {
  padding: 10px;
  display: flex;
  position: relative;
}

.BuildView_main {
  flex: 1;
  padding: 0 0 5px 5px;
}

.BuildView_right {
  overflow: auto;
  padding: 0 20px;
  max-height: 500px;
}

.BuildView_icon {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid white;
  cursor: pointer;
  text-align: center;
  margin-bottom: 4px;
  padding: 4px 0;
  box-sizing: border-box;
  color: #555;
  font-weight: bold;
  box-shadow: 0 1px 3px #777;

  &-running {
    border-color: @st-running;
    background-color: @st-running-light;
    &.BuildView_icon-active {
      background-color: @st-running;

      &:before {
        background-color: @st-running;
      }
    }
  }

  &-failed {
    border-color: @st-failed;
    background-color: @st-failed-light;
    &.BuildView_icon-active {
      background-color: @st-failed;

      &:before {
        background-color: @st-failed;
      }
    }
  }

  &-succeeded {
    border-color: @st-succeeded;
    background-color: @st-succeeded-light;
    &.BuildView_icon-active {
      background-color: @st-succeeded;

      &:before {
        background-color: @st-succeeded;
      }
    }
  }

  &-errored {
    border-color: @st-errored;
    background-color: @st-errored-light;
    &.BuildView_icon-active {
      background-color: @st-errored;

      &:before {
        background-color: @st-errored;
      }
    }
  }

  &-active {
    color: white;
    position: relative;
    overflow: visible;

    &::before {
      content: ' ';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 4px;
      left: -16px;
      top: 10px;
      box-shadow: 0px 1px 2px #777;
    }
  }
}

