
@import (reference) "../lib/colors";

.flex-spacer {
  flex: 1;
}

.ProjectList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.Project {
  border-radius: 2px;
  background-color: white;
}

.Project-open {
  box-shadow: 0 1px 10px #aaa;
  position: relative;
}

.Project_head {
  display: flex;
  cursor: pointer;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 25px;

  &:hover {
    box-shadow: 0 0 5px #ccc;
    position: relative;

    .Project-open & {
      box-shadow: none;
    }
  }
}

.Project_ticker {
  font-family: monospace;
  padding: 0 10px;
  line-height: 20px;
  color: #5af;
  font-weight: bold;
}

.Project_name {
  margin: 0 10px;
  width: 300px;
}

.Project_status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: -0.9px;
  padding: 7px 0;
  box-sizing: border-box;
  text-align: center;
  color: white;

  &-running {
    background-color: @st-running;
  }

  &-succeeded {
    background-color: @st-succeeded;
  }

  &-failed {
    background-color: @st-failed;
  }

  &-errored {
    background-color: @st-errored;
  }

  &-inactive {
    background-color: @st-inactive;
  }
}

.Project_start {
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 8px 10px 8px 13px;
  background-color: transparent;
  color: #aaa;
  transition: background-color .2s ease, color .2s;

  &:focus,
  &:hover {
    color: black;
    background-color: @base-light;//#8FFF7D;
  }
}

.Project_buttons {
  text-align: right;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px;

  button {
    &:extend(.m-button all);

    background: @base-white; // #F4F4F4;

    padding: 5px 20px;
    border: none;
    cursor: pointer;
    outline: none;

    &:focus,
    &:hover {
    }

    &.active {
      background-color: @base-light; // rgb(170, 255, 252);
    }
  }
}

