
@import (reference) "../lib/colors.less";


// Noto+Sans|Droid+Sans|Lato|PT+Sans|Muli|Montserrat|Open+Sans|Roboto|Oxygen|Nunito|
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html,
body {
  margin: 0;
  padding: 0;

  /*
  font-family: Noto Sans;
  font-family: muli;
  font-family: open sans;
  font-family: oxygen;
  */
  font-family: raleway;
}

.Button {
  background-color: @base-light;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color .2s ease, box-shadow .2s ease;
  color: #000;//white;
  font-weight: bold;
  box-shadow: 0 1px 3px #aaa;

  &:hover, &:focus {
    background-color: @base;
    box-shadow: 0 1px 5px #aaa;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.App {
}

.GlobalConfig {
  border-bottom: 5px solid #eee;
  padding-bottom: 20px;
}

.GlobalConfig_save {
  margin-top: 10px;
}

.App_flex {
  flex: 1;
}

.App_conn {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 15px;
  border: 2px solid white;

  &-connecting {
    background-color: blue;
  }

  &-connected {
    background-color: green;
  }

  &-disconnected {
    background-color: red;
  }
}

.App_header {
  display: flex;
  background-color: @base;

  h1 {
    padding: 5px 40px;
    margin: 0;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0px #DD2C00;
  }

  nav {
    a {
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      transition: background-color .1s ease;

      &:hover, &:focus {
        background-color: #A7A2FF;
      }

      &.active {
        background-color: #948DFF;
      }
    }
  }
}

.App_header_button {
  background: transparent;
  color: #911D00;
  font-weight: bold;
  border: none;
  padding: 0 20px;
  outline: none;
  text-shadow: 1px 1px 1px #FF6C46;

  &-active {
    background: white;
    color: black;
  }
}

.App_main {
  max-width: 1000px;
  margin: 0 auto;
}
